[[redirects]]
  from = "/index.html"
  to = "/"
  status = 301

[[redirects]]
  from = "/archive/index.html"
  to = "/archive"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200