@use "../abstracts" as *;
@use "../util" as *;

.bot-container {
    position: fixed;
    right: 0;
    bottom: 0;

    .bot-speech-bubble {
        @include flexCenter(flex, center, center, row);
        @include widthHeight(2.5rem, 2rem);
        position: absolute;
        right: 3.5rem;
        bottom: 6rem;
        border-radius: 8px;
        background-color: #fff;
        color: #000;
        animation: speech-bubble-pop-anim 0.75s ease-in;

        .bot-speech-bubble-dot-container {
            font-size: 1.75rem;
            padding-bottom: 0.5rem;

            div:after {
                content: "...";
                animation: speech-bubble-dot-anim 3s infinite 1s;
            }
        }

        span {
            position: absolute;
            bottom: -6px;
            right: 8px;
            @include widthHeight(0, 0);
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #fff;
        }
    }

    @keyframes speech-bubble-pop-anim {
        from {
            opacity: 0;
            scale: 0;
            top: -5px;
        }
        to {
            opacity: 1;
            scale: 1;
            top: 0px;
        }
    }

    @keyframes speech-bubble-dot-anim {
        25% {
            content: "";
        }
        50% {
            content: ".";
        }
        75% {
            content: "..";
        }
        100% {
            content: "...";
        }
    }
}

.rcb-chat-bot {
    .rcb-toggle-button {
        @include widthHeight(72px, 72px);
        background-image: none !important;
        box-shadow: none;

        .rcb-toggle-icon {
            @include widthHeight(64px, 64px);
            background-size: contain;
            border-radius: 0%;
        }
    }

    .rcb-chat-window {
        @include widthHeight(100%, 100vh);
        bottom: 0;
        right: 0;

        @include breakpoint(medium) {
            @include widthHeight(375px, 580px);
            bottom: 20px;
            right: 20px;
        }

        .rcb-chat-header-container {
            display: flex;
            align-items: center;
            border-bottom: none;

            .rcb-chat-header {
                display: flex;
                align-items: center;

                .rcb-bot-avatar {
                    @include widthHeight(36px, 36px);
                    background-size: contain;
                }

                .rcb-close-chat-icon {
                    @include widthHeight(24px, 24px);

                    &:after {
                        border-radius: 8px;
                    }

                    &:hover:after {
                        @include widthHeight(150%, 150%);
                    }
                }
            }
        }

        .rcb-chat-body-container {
            width: unset;
            backdrop-filter: blur(40px) saturate(1.3);
            padding: 1rem;

            .rcb-bot-message,
            .rcb-user-message {
                padding: 1rem;
                max-width: 80% !important;
            }

            .rcb-user-message {
                margin-right: 0;
                background-color: #5d9ce2 !important;
            }

            .rcb-bot-message {
                margin-left: 0;
            }

            .rcb-options-container {
                max-width: 80%;
                margin-left: 0;

                .rcb-options {
                    background-color: transparent !important;
                    border-radius: 2.6rem;
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}
